<div class="sidebar">
<section>
        <h1>PomarPro</h1>
        <img src="\assets\img\Pomar_pro jean.png" alt="">
        <nav>
            
                <a routerLink="/home">Home</a>
            <details>
                <summary>Adiministração</summary>
                <div>
             <a routerLink="/cadUsuario">Usiário</a>
               <a routerLink="/cadMaterial">Material</a>
                <a routerLink="/cadProduto">Produto</a>
            </div>

            </details>
            <details>
                <summary>Pomar</summary>
                <div>
                <a routerLink="/cadPomar">Cadastro</a>
                <a routerLink="/cadMovimento">Movimento</a>
                <a routerLink="/cadColheita">Colheita</a>
                <a routerLink="/cadArvore">Árvore</a>
            </div>

            </details>
           
            
        </nav>
    </section>
</div>

    
